h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
.jumboBody{
    text-align: center;
}
#current, #waiting {
    width: 80%;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 30px;
}